@charset "utf-8";
/* CSS Document */

@import url("../fonts/customfonts.css");
body{ font-family:'segoeui', Arial, Helvetica, sans-serif; background-color:#ffffff; color:#000000; overflow-x:hidden;}
*{ outline:0; border:0;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}

.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
.pt40{ padding-top:40px;}
.pt50{ padding-top:50px;}

.pb5{ padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pb20{ padding-bottom:20px;}
.pb30{ padding-bottom:30px;}
.pb40{ padding-bottom:40px;}
.pb50{ padding-bottom:50px;}

.no-margin{ margin:0;}
.no-padding{ padding:0;}
.pl0{padding-left:0;}
.pr0{padding-right:0;}
.ml0{margin-left:0;}
.mr0{margin-left:0;}


.no-border{ border:0;}
.no-radius{ border-radius:0;}
.fontnormal{ font-weight:normal;}
ul{ margin:0; padding:0;}
li{ list-style:none;}
input,img{ outline:0;}
a{ text-decoration:none;}
a,button,input{ outline:0;}
a:hover,button:hover,input:hover{ outline:0;}
a:focus,button:focus,input:focus{ outline:0;}

.panel{ border-radius:0px;}
a,button{
  position: relative;
}
::selection{ background:#b6b6b6; color:#ffffff;}
.img_auto{ display:inherit; margin:0 auto;}
.tabiconnone{ display:none;}
.tabicon_inblock{ display:inline-block;}
.iconhospital{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: left -75px;
	width: 30px;
	height: 33px;
	vertical-align: middle;
	margin: 0 auto;
	}
.iconvissa{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -33px -71px;
	width: 30px;
	height: 33px;
	vertical-align: middle;
	margin: 0 auto;
	}
.iconflight{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -67px -67px;
	width: 30px;
	height: 33px;
	vertical-align: middle;
	margin: 0 auto;
	}
.iconhotels{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -108px -72px;
	width: 30px;
	height: 33px;
	vertical-align: middle;
	margin: 0 auto;
	}
.iconcarbuses{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -138px -67px;
	width: 30px;
	height: 33px;
	vertical-align: middle;
	margin: 0 auto;
	}

.active .iconhospital{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: left -139px;
	}
.active .iconvissa{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -33px -137px;
	}
.active .iconflight{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -67px -132px;
	}
.active .iconhotels{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -108px -137px;
	}
.active .iconcarbuses{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -138px -132px;
	}

.activeblk .iconhospital{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: left -106px;
	}
.activeblk .iconvissa{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -33px -109px;
	}
.activeblk .iconflight{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -67px -109px;
	}
.activeblk .iconhotels{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -108px -109px;
	}
.activeblk .iconcarbuses{ 
	background: url(../images/sprite.png) no-repeat;
	background-position: -138px -109px;
	}	
	
	
	
	
	
	
	
	
	
/*header*/

h1{ color:#1f1f1f;}
.mi-navstyle li a{ color:#000000; line-height:25px;}
.mi-navstyle > .navbar-nav > li > a
.mi-navstyle > .navbar-nav > li > a:hover,
.mi-navstyle > .navbar-nav > li > a:focus{ 
       background-color: transparent;
	   }
.mi-srch{ 
       background:#000000; 
	   width:35px; height:35px; 
	   border-radius:100%;
	   border:0;
	   margin-top: 10px;
	   float:right;
	   }
.mi-srch .fa{ color:#ffffff;}
.mi_srchbox {
	    opecity:0;
		display:none;
		position: absolute;
		right: 0px;
		bottom: -62px;
		z-index: 9;
		padding: 10px;
		background: #ffffff;
		border: 1px solid #d5d5d5;
		animation:searchslide .5s 1;
			}
.mi_srchbox input[type=text]{
		width: 100%;
		height: 40px;
		box-shadow: 0 0 7px #f1f1f1;
		padding: 0 10px;
		border: 1px solid #e5e5e5;		
		}
.mi_srchrelative{ position:relative;}			
.mi_searchbtn{
		position: absolute;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		background: none;
		border: 0;
		font-size: 18px;
		color:#b6b6b6;	
		}			
.banner{ 
       width:100%; 
	   min-height:480px;
	   float:left;
	   position:relative;
	   }
	   
	   
.overlay{ 
		position: absolute;
		left: 0;
		background: rgba(0, 0, 0, 0.65);
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;	  
		 }

.mi-multitab{
		margin-top:10%;
}

.mi-multitab .nav-tabs > li.active > a, 
.mi-multitab .nav-tabs > li.active > a:hover, 
.mi-multitab .nav-tabs > li.active > a:focus{
		color: #FFF;
		cursor: default;
		background-color: rgba(0, 0, 0, 0.45);
		border: 1px solid #373737;
		border-bottom-color: transparent;	}
.mi-multitab .nav > li > a:hover, .mi-multitab .nav > li > a:focus{
	    background-color:rgba(0, 0, 0, 0.45);
	}
.mi-multitab .nav-tabs > li > a{
		border-radius:0;
		margin-right:0;
		color:#ffffff;
		background-color:rgba(0, 0, 0, 0.45);
		border: 1px solid #9b9b9b;
	}
.mi-multitab .nav-tabs {
        border-bottom: 1px solid #9b9b9b;
}
.mi-multitab .nav > li > a{ padding-left:25px; padding-right:25px;}
.mi-multitab .tab-content{
	 	background-color:rgba(0, 0, 0, 0.45);
		padding:15px 15px;
	}
.searchtitle{
	 	color:#ffffff;
		margin-top:5px; 
		margin-bottom:15px;
		font-size:18px;
	}
.form-control{ border-radius:0;}	
.mi-input{
		background-color:rgba(121, 121, 121, 0.23);
		overflow:hidden;
		border-color:#373737;
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
	}

.form-control:focus {
		border:1px solid #373737;
	    outline: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
        box-shadow: none;
}
.mi-mnfilter label{color: #ffffff; font-weight:normal;}
.mi-cl{ clear:both;}

/*button style */
.btn-outline-blk,
.btn-outline-blk:hover,
.btn-outline-blk:focus{
		background-color: rgba(121, 121, 121, 0.23);
		color: #ffffff;
		padding: 6px 20px;
		border: 2px solid #797979;
		border-rdaius: 1px;
		font-size: 15px;	
		}
.btn-outline-grey,
.btn-outline-grey:hover,
.btn-outline-grey:focus{
		background-color:transparent;
		color: #626262;
		padding: 6px 20px;
		border: 2px solid #6b6b6b;
		border-rdaius: 1px;
		font-size: 15px;	
}

.mi-findcategory .mi-catser{
	width:130px;
	height:130px;
	background:#ffffff;
	border-radius:100%;
	position:relative;
	margin:0 auto;
	transition:all 1s ease;
	}
.mi-findcategory a{ display:inline-block; text-decoration:none;}
.mi-findcategory .mi-catser:before{
	content:'';
	position:absolute;
	width:140px;
	height:140px;
	left:-5px; right:0;
	top:-5px; bottom:0;
	border-radius:100%;
	z-index:-1;
	background-color: rgba(6, 125, 93, 0.14);
	transition:all .8s ease-in;
	}
.mi-findcategory .mi-catser:hover:before{
	background:rgba(0,0,0,.3);
	}	
.mi-findcategory img{ margin-top:30px; transition:all 1s ease;}
.mi-findcategory .mi-catser:hover img{ width:60%; margin-top:20px;}
.mi-cattitle{ font-size:18px;  color:#000000;}
.mi-specialities a{ display:inline-block; text-decoration:none;}

#popular-hospitals .item{
	background:#f8f8f8;
	}	
#popular-hospitals .item .itemtitle{ font-size:22px;}	
#popular-hospitals .item .itmebottom{ border-top:1px solid #bbbbbb;}	
.scheduleappoint{ font-size:16px; color:#585757;}

#popular-hospitals .owl-nav .owl-prev,#popular-hospitals .owl-nav .owl-next{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}	
#popular-hospitals .owl-nav .owl-prev{ left:0px; background:url(../images/sprite.png) no-repeat; background-position:left -25px; display:none; overflow:hidden;}
#popular-hospitals .owl-nav .owl-next{ right:0px; background:url(../images/sprite.png) no-repeat; background-position:-40px -25px; display:none; overflow:hidden;}

.mi_topmenu ul li{ display:inline-block; padding:0 10px; }
.mi_topmenu ul li a{ color:#949494; text-decoration:none;} 
.mi_lftfilter { padding:15px;}
.mi_lftfilter .mi_filtertitle {
    font-size: 18px;
    float: left;
    color: #525252;
    width: 100%;
    margin: 10px 0;
}
.mi_checkbox_block{ display:block; float:left; width:100%;}
.mi_checkbox_block li label{ 
    font-weight:normal; 
	cursor:pointer;
    color:#525252;	
	text-align:right; 
	padding-left: 25px;
	position:relative;}
.mi_checkboxicon{  display:none;}
.mi_checkbox_block  li label span{
    width: 15px;
    display: inline-block;
    height: 15px;
    border: 1px solid #949494;
    vertical-align: middle;
    margin-top: -4px;
    position: absolute;
    left: 0;
    top: 5px;
	-webkit-transition: all 0.25s linear;

}
.mi_checkbox_block  li { margin-right:10px; margin-top:10px;}
.mi_checkbox_block  li label .mi_checkboxicon:checked + span {
	background:#000;
}
.mi_checkbox_block  li label .mi_checkboxicon:checked + span:before{
    content: "\f00c";
    font: normal normal normal 12px/1 FontAwesome;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
}





.mi_radiobox_block{ display:block; float:left; width:100%;}
.mi_radiobox_block li label{ 
    font-weight:normal; 
	cursor:pointer; 
	color:#525252;	
	text-align:right; 
	padding-left: 25px;
	position:relative;}
.mi_radioboxicon{  display:none;}
.mi_radiobox_block  li label span{
    width: 15px;
    display: inline-block;
    height: 15px;
    border: 1px solid #949494;
    vertical-align: middle;
    margin-top: -1px;
    position: absolute;
    left: 0;
    top: 5px;
	-webkit-transition: all 0.25s linear;

}
.mi_radiobox_block  li { margin-right:10px; margin-top:10px;}
.mi_radiobox_block  li label .mi_radioboxicon:checked + span {
	background:#000;
}
.mi_radiobox_block  li label .mi_radioboxicon:checked + span:before{
    content: "";
    background: #ffffff;
    position: absolute;
    top: 0;
    width: 7px;
    height: 7px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
}


.mi_range-slide{ width:100%;}




.mi_date {border:1px solid #b6b6b6;}
.mi_date .nav.nav-tabs{ border-bottom:0px;}
.mi_date .nav{ margin-left:0; text-align: center;}
.mi_date .nav li {
    width: 19%;
    text-align: center;
    border: 1px solid #ddd;
	color: #414141;
	box-shadow: 1px 1px 1px #B1B1B1,inset 1px 1px 1px #959595;
}
.mi_date .nav  li{display:inline-block !important; float:inherit; }
.mi_date .nav  li.active{
	box-shadow: 1px 1px 1px #000000,inset 1px 1px 1px #000000; 
	
	}
.mi_date  .nav-tabs  li.active > a, 
.mi_date  .nav-tabs  li.active > a:hover, 
.mi_date  .nav-tabs  li.active > a:focus {
    color: #555;
    cursor: default;
    background-color:transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}	
	
.mi_date .nav li > a ,.mi_date .nav li > a:hover ,.mi_date .nav li > a:focus{ text-decoration:none; border:0px; background-color: transparent; padding:0px;}
.mi_date .nav li > a > strong{
	font-size: 22px;
	display:inline-block;
	margin-right:5px;
	color: #414141;
}
.mi_date .nav li > a > span{
	color: #414141;
}
.mi_doctortimes{ 
    background:#ffffff; 
	border:1px solid #b6b6b6; border-top:0px solid #b6b6b6; 
    width:100%; float:left;}
.mi_doctortimeslotmain .mi_doctortimeslotmainbox{border-bottom:1px solid #b6b6b6; }	
.mi_doctortimeslotmain .mi_doctortimeslotmainbox .mi_timetab{
	width: 100%;
	float: left;
	padding: 5px 10px;
	border-bottom: 1px solid #f2f2f2;
	color: #9f9f9f;
	font-size: 18px;
}
.mi_doctortimeslotmain .mi_doctortimeslotmainbox  .mi_tabcontentime{
	display:inline-block; padding:15px 10px; cursor:pointer;
}
.mi_morningicon{
	width:35px; height:35px; display:inline-block;
	background:url(../images/sprite.png) no-repeat;
	background-position:-273px top;
	vertical-align: middle;
}
.mi_afternoonicon{
    width:35px; height:35px; display:inline-block;
	background:url(../images/sprite.png) no-repeat;
	background-position:-321px top;
	vertical-align: middle;
	}

.mi_eveningicon{
    width:35px; height:35px; display:inline-block;
	background:url(../images/sprite.png) no-repeat;
	background-position:-361px top;
	vertical-align: middle;
	}
.mi_pagination{    
    width: 100%;
    float: left;}	
.mi_prev a{
	width: 40px;
    height: 40px;
    position: absolute;
    background: url(../images/sprite.png) no-repeat;
    background-position: left -25px;
    left: 30px;
	top: 22px;
}
.mi_nxt a{
	width:40px;
	height:40px;
	position:absolute;	
	background:url(../images/sprite.png) no-repeat;
	background-position:-37px -25px;
	right: 30px;
	top: 22px;
}

.mi_filterdata{ width:100%; float:left;}
.mi_filterdata  .mi_filterdatabox{ padding:15px 0; float:left; width:100%;}
.mi_filterdata  .mi_filterdatabox .mi-hospitalimage  img{
	width:100%;
	min-height:200px;
	}
	
	
.mi_hospitalinformationbox-in{float:left; width:80%; margin-left:5px;}
.mi_filtertitle{
	color:#8a8a8a;
    font-size:16px;
    display:block;	
}
.mi_doctortype{
	color:#464646;
    font-size:14px;
    display:block;	
}
.mi_hospitalservices .mi_hospitalservicetab{ 
    padding:4px 10px;
	background:#dbdbdb;
	margin-top:5px;
	color:#626262;
	border-radius:4px;
	display:inline-block;
}
.mi_hospitalgallery .example-image-link{width:70px; height:80px; display:inline-block;}
.mi_hospitalgallery .example-image-link img{ width:100%;}
.mi_hospitalsuggested{
	float:right;
	color:#626262;
}
.micheckicon{
	background: url(../images/sprite.png) no-repeat;
	background-position:-43px top;
	width:25px;
	height:20px;
	display:inline-block;
	vertical-align:middle;
}
.mi_viewservice,
.mi_viewservice:hover,
.mi_viewservice:focus{
	color:#626262;
	border-bottom:2px solid #dbdbdb;
	text-decoration:none;
}
.mi_hospitalinformation .mi_hospitalinformationbox{
	width:100%;
	font-size:13px; 
	color:#626262;
	margin-bottom:5px;
	float:left;
}
.mi_chaticon{
	width:22px;
	height:22px;
	float:left;
	display:inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position:-79px top;
	vertical-align:middle;
}
.mi_timeicon{
	width:22px;
	height:22px;
	float:left;
	display:inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position:-104px top;
	vertical-align:middle;
}
.mi_addressicon{
	width:22px;
	height:25px;
	float:left;
	display:inline-block;
	background: url(../images/sprite.png) no-repeat;
	background-position:-130px top;
	vertical-align:middle;
}
.mi-hospitalimage{
	width:28%; 
	float:left; 
	min-height:200px;
	padding-left:15px;}
.mi_hospitalinformation{ 
    width: 27%;
    float: left;
    padding-right: 15px;
    padding-left: 10px;
    border-left: 1px solid #b6b6b6;}
.mi-hospitaldetails{    
    width: 45%;
    min-height: 200px;
    float: left;
    position: relative;}
.mi_filterbottom{ position:absolute; bottom:0;}
.mi_rangevalue{
	display:inline-block;
	margin-right:10px;
	margin-top:10px;
	font-size:16px; color:#000000;
}
.mi_shortby,.mi_shortby:focus,.mi_shortby:hover{color:#464646; text-decoration:none; display:none;}
.mi_modify,.mi_modify:focus,.mi_modify:hover{color: #464646;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 4px;
	text-decoration:none;
    border: 1px solid #b6b6b6;}
.mi_filtericon{
	width:21px;
	height:30px;
	vertical-align:middle;
	margin-right:5px;
	display:inline-block;
	background:url(../images/sprite.png)no-repeat;
	background-position:-154px top;	
}

.mi_filterdropicon {
    width: 12px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -177px -4px;
}

.transparent-bg{ 
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9;
	top: 0;
	display:none;
}

.mi_filtermatches{
	font-size:18px;
	color:#000000;
}
.mi_modifyfilterbox{
	display:none;
    padding:15px	
}
.mi_modifyfilterbox .searchtitle{
	color:#8a8a8a;	
}
.mi_modifyfilterbox .mi-mnfilter label{
    color:#8a8a8a;	
}

.mi_modifyfilterbox .dd .ddTitle {
    color: #b2b2b2;
    background: rgba(255, 255, 255, 0.5);
}

.mi-pagination > li > a, .mi-pagination > li > span{
	color:#8a8a8a;	
}

.mi-pagination > li > a:hover, .mi-pagination > li > span:hover, .mi-pagination > li > a:focus, .mi-pagination > li > span:focus {
    z-index: 2;
    color: #8a8a8a;
    background-color: #eee;
    border-color: #ddd;
}

.mi_leftarrow{	
	display: block;
	width: 10px;
	height: 20px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -15px -2px;
}

.mi_rightarrow{
	display: block;
	width: 10px;
	height: 20px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -23px -2px;	
}


















@media screen and (max-width: 1100px){
	.mi_lftfilter   .datepicker-inline .datepicker {
		width: 100%;
}	
.mi_hospitalgallery .example-image-link {
    width: 65px;
    height: 45px;
    display: inline-block;
}	
   .btn-outline-grey,
   .btn-outline-grey:hover,
   .btn-outline-grey:focus {
		padding: 6px 10px;
}
	.btn-outline-blk,
	.btn-outline-blk:hover,
	.btn-outline-blk:focus{
	    padding: 6px 10px;
	}  
   
.modal .btn-outline-blk,
.modal .btn-outline-blk:hover,
.modal .btn-outline-blk:focus{
		padding: 6px 10px;
	}
.mi_topmenu ul li a {
    font-size: 12px;
}	
.mi_viewservice, .mi_viewservice:hover, .mi_viewservice:focus {
    font-size: 12px;
}
.mi_hospitalsuggested {
    font-size: 12px;
}

	.mi_hospitalservices .mi_hospitalservicetab {
		font-size: 12px;
}


}

.mi_menulist{ position:relative;}
.mi_sub-menu{
    position: absolute;
    width: 180px;
    margin-top: 0px;
    left:0;
    z-index: 9;
    display: none;
    animation:menuslide .5s linear 1;
}

@keyframes menuslide{   
    0%{top:100px;}
    100%{}
}
.mi_sub-menu li{
  padding:5px 10px; 
  background: #ffffff;
  font-size: 12px;
}
.mi_sub-menu li:hover{
  background: #ffffff; 
  background-color: #e7e7e7;
  transition:all 1s ease;
}
.mi_sub-menu li a{ text-decoration: none;}
.mi_menulist:hover .mi_sub-menu{
    display: block;
}































@media screen and (max-width: 1024px){
.mi_hospitalgallery .example-image-link {
		width: 50px;
		height: 35px;
		display: inline-block;
}

.container {
    width: 98%;
}
.datepicker--cell{ border-radius:0% !important;}	

}
@media screen and (max-width: 960px){
.mi_lftfilter{
	position:fixed;
	width:240px;
	left:0;
	top:0;
	z-index:99;
	height:100%;
	overflow-x:hidden;
	display:none;
	animation:slidemenu .3s ease 1;
}
@keyframes slidemenu{
	0%{left:-200px; opacity:0; }
	100%{left:0px; opacity:1;  }
	}
.mi_shortby,.mi_shortby:focus,.mi_shortby:hover{display:inline-block;}
.mi_filterresult.col-sm-9{ width:100%;}
.mi_filterbottom {
		position: inherit;
		bottom: 0;
		width: 100%;
}
.datepicker--day-name{ font-size:10px !important;}
.datepicker--cell {
    height: 20px !important;
    font-size: 11px !important;
}

.mi_radiobox_block li {
    margin-right: 10px;
    margin-top: 2px;
}
.mi_lftfilter {
    padding-bottom: 20px;
}



}




@media screen and (max-width: 960px){
.mi_active{
   display:block;   
}
.mi_unactive{
   display:none;   
}
}


@media screen and (max-width: 820px){
	
	
	
	
}





@media screen and (max-width: 768px){
	.mi_filterresult{
		padding-right: 0px; 
        padding-left: 0px;
	}

}

@media screen and (max-width: 640px){
.mi-hospitalimage {
    width: 100%;
	min-height: 150;
    padding-right: 15px;
}
.mi_filterdata .mi_filterdatabox .mi-hospitalimage img {
    width: 100%;
    min-height: 150px;
}
.mi-hospitaldetails {
    width: 100%;
    min-height: 150px;
    margin-top: 15px;
}
.mi_hospitalinformation {
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #b6b6b6;
    border-left: 0;
}
.mi_filterbottom {
    position: inherit;
    width: 100%;
}
}

@media screen and (max-width: 480px){
.mi_doctortimeslotmain .mi_doctortimeslotmainbox .mi_tabcontentime {
    padding: 15px 7px;
}

.mi_date .nav li {
    text-align: center;
	width:30%;
    margin-top: 5px;
}
.mi_prev a{
	top: 85px;
}
.mi_nxt a{
	top: 85px;
}
}











/*background*/
.mi-lt-grey{background:#f8f8f8;}
.mi-drk-grey{background:#363636;}
.mi-blk{ background:#000000;}


.mi-lttxt-grey{color:#f8f8f8;}
.mi-drktxt-grey{color:#363636;}
.mi-blktxt{ color:#000000;}




@keyframes searchslide{
	0%{right:-200px; opacity:0; }
	100%{right:0px; opacity:1;  }
	}




/*footer*/
.mi-footer .mi-footer-blk span{
	color:#bfbfbf;
	font-size:18px;
	display:block;
	}
.mi-footer .mi-footer-blk .mi-ftrlinks li{ list-style:none;}	
.mi-footer .mi-footer-blk .mi-ftrlinks li a{
    color:#bfbfbf;
	margin-bottom:8px;
	padding-left:15px;
	display:block;
	position:relative;
		} 
.mi-footer .mi-footer-blk .mi-ftrlinks li a:after{
	content: '';
	display: block;
	width: 15px;
	height: 20px;
	background: url(../images/sprite.png) no-repeat;
	background-position: -23px -2px;
	position: absolute;
	left: 0;
	top: 0;	
	}
	
.mi-footer .mi-footer-blk p{
	color:#bfbfbf;
	line-height:20px;
	}	
.mi-footer .mi-footer-blk .newsletter{ position:relative;}	
.mi-footer .mi-footer-blk .newsletter input[type=text]{
	border:1px solid #b6b6b6;
	height:40px;
	width:95%;
	color:#b6b6b6;
	padding-left:10px;
	background:transparent;
	}	
.mi-footer .mi-footer-blk .newsletter button{
	height:40px;
	width:95px;
	border:1px solid #b6b6b6;
	background:#b6b6b6;
	border:0;
	position:absolute;
	right:0;
	}	
.mi-footer .mi-footer-blk .newsletter button:after{
	content: '';
	border-right: 20px solid #b6b6b6;
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	width: 0px;
	height: 0px;
	left: -20px;
	position: absolute;
	top: 0;	
	}	
.mi-footer .mi-copyrt{
	color:#6f6f6f;
	}	
.mi-footer .mi-copyrt .mi-btm-ftrlinks a{
	color:#6f6f6f;
	margin:0 10px;
	display:inline-block;
	}
	
	
	
	
	
@media screen and (max-width: 768px){
.mimob_p10{ padding:10px 0;}	
	
.navbar-toggle{ margin-right:0;}
.navbar-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background: #000000;
}
.container {
    padding-right: 20px;
    padding-left: 20px;
}

.search{
	position: absolute;
	top: 0;
	right: 55px;
	}
.item{ border:3px solid rgba(182, 182, 182, 0.3);}	
.mi-srch {
    border-radius: 100%;
    border: 0;
    margin-top: 10px;
    margin-bottom: 0px;
}	
.mi-cattitle{
	margin-bottom:15px;
	margin-top:15px;
	font-size: 14px;
    color: #000000;
	}	
.mi-findcategory .mi-catser {
    width: 120px;
    height: 120px;
    transition: all 1s ease;
	background:rgba(159, 159, 159, 0.4);
}	
.mi-findcategory .mi-catser::before {
	content: '';
	position: absolute;
	width: 140px;
	height: 140px;
	left: -10px;
	right: 0;
	top: -10px;
	bottom: 0;
	border-radius: 100%;
	z-index: -1;
	background-color: transparent;
	transition: all 1s ease-in-out;
	box-shadow: 4px 3px 1px rgba(81, 81, 81, 0.28);
	}	
.mi-findcategory .mi-catser:hover::before {
	background-color: transparent;
	animation:rotate 1s ease;
	box-shadow: 3px 3px 2px #282828;
	}
		
.mi-copyrt{ font-size:12px;}
#popular-hospitals .owl-nav .owl-prev{display:block; text-indent:999px;}
#popular-hospitals .owl-nav .owl-next{display:block; text-indent:999px;}
.mi-btm-ftrlinks{ text-align:center !important;}		
@keyframes rotate searchslide{
	0%{	transform:rotate(-90deg); box-shadow: 3px 3px 2px #282828;}
	100%{transform:rotate(360deg);   box-shadow: 3px 3px 2px #282828;}
	}
	
.mi_topmenu ul li {
    display: inline-block;
    padding: 0 4px;
}	
	}	
	
@media screen and (max-width: 560px){
h1{font-size:30px;}
.mi-multitab {
    margin-top: 17%;
}
.mhide{ display:none;}
.paddingitem{ padding:0 10px;}
.iconhospital{display:block;}
.iconvissa{display:block;}
.iconflight{display:block;}
.iconhotels{display:block;}
.iconcarbuses{display:block;}

.mi-multitab .nav-tabs > li > a,
.mi-multitab .nav-tabs > li.active > a {
	text-indent:999px; overflow:hidden;
	text-align:center;
}
.mi-multitab .nav > li > a {
    padding-left: 9px ;
    padding-right: 9px;
}
.mi-specialities-tab{height:135px;}
	}	
	
	
	
/*model class*/	
.modal .dd .ddTitle{ background:#ffffff;}	
.modal .btn-outline-blk,
.modal .btn-outline-blk:hover,
.modal .btn-outline-blk:focus{
    background-color: rgba(121, 121, 121, 0.06);
    color: #636363;
    padding: 6px 20px;
	position:relative;
    border: 2px solid #838383;
    border-rdaius: 1px;
    font-size: 15px;
		}
	
/*filter page top menu*/
.mi_topmenu{
	
}	
	
	
	